<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="card text-center" style="margin-top:10%;">
                    <div class="card-header">
                        <h5 class="card-title">Add User</h5>
                    </div>
                    <div class="card-body form-group">
                         <div class="form-group">
                            <input type="text" name="name" v-model="name" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" v-model="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <select class="custom-select" v-model="role_id" id="inputGroupSelect01">
                                <option selected>Choose Role...</option>
                                <option v-for="role in roles" :key="role.id" v-bind:value="role.id">{{ role.name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" v-model="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password_conf" v-model="password_conf" class="form-control" placeholder="Password Confirmation" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <button @click="create" class="btn btn-primary" >Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            roles: [],
            role_id: '',
            name: '',
            email: '',
            password: '',
            password_conf: '',
        };
    },

    created() {
        this.fetchRoles()
    },
    computed: {
        getRole () {
            return this.roles
        },
    },

    methods: {
        create() {
            let data = {
                role_id: this.role_id,
                name: this.name,
                email: this.email,
                password: this.password,
                password_conf: this.password_conf
            };

            axios.post('/api/users', data)
                .then(({data}) => {
                    this.$router.push('/users');
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        fetchRoles() {
            return api.call('get', '/api/roles')
                .then(({data}) => {
                    this.roles = data;
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        async fetchDataHandler () {
            this.databalance = await this.fetchRoles()
        }
    }
}
</script>