<template>
    <div class="content">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" style="margin-top:10%;">
                <div class="box">
                        <router-link to="/users/add"><button class="btn btn-primary" style="margin-bottom:1%;">Add User</button></router-link>
                    <div class="box-body">
                        <div class="table-responsive" >
                            <table class="table">
                                <caption>List of users</caption>
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in users" :key="user.id">
                                        <th scope="row">{{ user.id }}</th>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.role.name }}</td>
                                        <td>
                                            <router-link to="/users/update"><button class="btn btn-warning btn-sm">Edit</button></router-link>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            users: [],
        };
    },
    created() {
        this.fetchUsers()
    },
    computed: {
        getUsers () {
            return this.users
        },
    },

    methods: {
        fetchUsers() {
            return api.call('get', '/api/users')
                .then(({data}) => {
                    this.users = data;
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        async fetchDataHandler () {
            this.users = await this.fetchUsers()
        }
    }
}
</script>