<template>
    <div class="content row">
        <div class="card" style="width: 18rem; margin: 2% 0% 0% 2%;">
            <div class="card-body">
                <h5 class="card-title">Deposit</h5>
                <router-link to="/transactions/deposit"><button class="btn btn-primary">Go deposit</button></router-link>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 2% 0% 0% 2%;">
            <div class="card-body">
                <h5 class="card-title">Withdraw</h5>
                <router-link to="/transactions/withdraw"><button class="btn btn-primary">Go withdraw</button></router-link>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 2% 0% 0% 2%;">
            <div class="card-body">
                <h5 class="card-title">Transfer</h5>
                <router-link to="/transactions/transfer"><button class="btn btn-primary">Go transfer</button></router-link>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 2% 0% 0% 2%;">
            <div class="card-body">
                <h5 class="card-title">Mutation</h5>
                <router-link to="/transactions/mutation"><button class="btn btn-primary">Go mutation</button></router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            types: [],
        };
    },
    created() {
        this.fetchTypes()
    },
    computed: {
        getTypes () {
            return this.types
        },
    },

    methods: {
        fetchTypes() {
            return api.call('get', '/api/types')
                .then(({data}) => {
                    this.types = data;
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        async fetchDataHandler () {
            this.databalance = await this.fetchTypes()
        }
    }
}
</script>