<template>
    <div class="content">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" style="margin-top:10%;">
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive" >
                            <table class="table">
                                <caption>List of Transactions</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Account Number</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Type</th>
                                        <!-- <th scope="col">Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="transaction in transactions" :key="transaction.id">
                                        <th scope="row">{{ transaction.id }}</th>
                                        <td>{{ transaction.customer.user.name }}</td>
                                        <td>{{ transaction.account_number }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.type.type }}</td>
                                        <!-- <td>
                                            <router-link to="/users/update"><button class="btn btn-warning btn-sm">Edit</button></router-link>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            transactions: [],
        };
    },
    created() {
        this.fetchTransactions()
    },
    computed: {
        getTransactions () {
            return this.transactions
        },
    },

    methods: {
        fetchTransactions() {
            return api.call('get', '/api/transactions')
                .then(({data}) => {
                    this.transactions = data;
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        async fetchDataHandler () {
            this.transactions = await this.fetchTransactions()
        }
    }
}
</script>