<template>
    <div class="content">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="card text-center" style="margin-top:10%;">
                    <div class="card-header">
                        <h5 class="card-title">Mutation</h5>
                    </div>
                    <div class="card-body form-group">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Start Date</label>
                                <input type="date" name="date_start" v-model="date_start" class="form-control" placeholder="Date Start" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group col-sm-6">
                                <label>End Date</label>
                                <input type="date" name="date_end" v-model="date_end" class="form-control" placeholder="Date End" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <button @click="fetchTransactions" class="btn btn-primary" >Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:-5%;">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" style="margin-top:10%;">
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive" >
                            <table class="table">
                                <caption>Mutation of Transactions</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Account Number</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Type</th>
                                        <!-- <th scope="col">Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="transaction in transactions" :key="transaction.id">
                                        <th scope="row">{{ transaction.id }}</th>
                                        <td>{{ transaction.customer.user.name }}</td>
                                        <td>{{ transaction.account_number }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.type.type }}</td>
                                        <!-- <td>
                                            <router-link to="/users/update"><button class="btn btn-warning btn-sm">Edit</button></router-link>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            date_start: '',
            date_end: '',
            transactions: [],
            user: auth.user
        };
    },
    computed: {
        getTransactions () {
            return this.users
        },
    },
    methods: {
        fetchTransactions() {
            let data = {
                date_start: this.date_start,
                date_end: this.date_end,
            };

            axios.post('/api/mutationReport', data)
                .then(({data}) => {
                    this.transactions = data
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        async fetchDataHandler () {
            this.transactions = await this.fetchTransactions()
        }
    }
}
</script>