<template>
    <div class="content">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="card text-center" style="margin-top:10%;">
                    <div class="card-header">
                        <h5 class="card-title">Transfer</h5>
                    </div>
                    <div class="card-body form-group">
                        <div class="form-group">
                            <select class="custom-select" v-model="account_number_sender" id="inputGroupSelect01">
                                <option selected>Choose Account...</option>
                                <option v-for="account in accounts" :key="account.id" v-bind:value="account.account_number">{{ account.account_number }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" name="account_number_accept" v-model="account_number_accept" class="form-control" placeholder="Account Number Destination" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="number" name="amount" v-model="amount" class="form-control" placeholder="Amount" aria-label="Amount" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="password" name="pin" v-model="pin" class="form-control" placeholder="Pin" aria-label="Pin" aria-describedby="basic-addon1">
                        </div>
                        <button @click="create" class="btn btn-primary" >Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            account_number_sender: '',
            account_number_accept: '',
            pin: '',
            amount: '',
            accounts: [],
            user: auth.user
        };
    },

    created() {
        this.fetchAccounts()
    },
    computed: {
        getAccounts () {
            return this.accounts
        },
    },
    methods: {
        create() {
            let data = {
                account_number_sender: this.account_number_sender,
                account_number_accept: this.account_number_accept,
                amount: this.amount,
                pin: this.pin,
            };

            axios.post('/api/transfer', data)
                .then(({data}) => {
                    this.$router.push('/accounts/');
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        fetchAccounts() {
            return api.call('get', '/api/accounts')
                .then(({data}) => {
                    this.accounts = data;
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        async fetchDataHandler () {
            this.accounts = await this.fetchAccounts()
        }
    }
}
</script>