<template>
    <div class="content">
        <div class="title" style="
        margin-bottom: 30px; 
        font-size: 84px; 
        text-align: center; 
        align-items: center;
        display: flex; 
        justify-content: center;
        height: 100vh;
        ">
            Welcome to Kevin's Bank
        </div>
    </div>
</template>

<script>
export default {

}
</script>