<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="card text-center" style="top: 50%; margin-top:10%;">
                    <div class="card-header">
                        <h5 class="card-title">Total Balance</h5>
                    </div>
                    <div class="card-body form-group">
                        <h1 class="card-title" v-html="getBalance"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            databalance: 0,
        };
    },
    created() {
        this.fetchBalance()
    },
    computed: {
        getBalance () {
            return this.databalance
        },
    },

    methods: {
        fetchBalance() {
            let balance = this.databalance;

            return api.call('get', '/api/get-sum-balance')
                .then(({data}) => {
                    this.databalance = data;
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        async fetchDataHandler () {
            this.databalance = await this.fetchBalance()
        }
    }
}
</script>