<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"><router-link to="/">Kevin's Bank</router-link></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" v-if="!authenticated && !user">
                    <li class="nav-item">
                        <a class="nav-link" >
                            <router-link to="/login">Login</router-link>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >
                            <router-link to="/register">Register</router-link>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" v-if="authenticated && user">
                    <li class="nav-item">
                        <a class="nav-link" >
                            <router-link to="/dashboard">Dashboard</router-link>
                        </a>
                    </li>
                    <li class="nav-item" v-if="user.role_id == 1">
                        <a class="nav-link" >
                            <router-link to="/users">Data User</router-link>
                        </a>
                    </li>
                    <li class="nav-item" v-if="user.role_id == 1">
                        <a class="nav-link" >
                            <router-link to="/customers">Data Customer</router-link>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >
                            <router-link to="/accounts">Data Account</router-link>
                        </a>
                    </li>
                    <li class="nav-item" v-if="user.role_id == 1">
                        <a class="nav-link" >
                            <router-link to="/transactions">Transaction</router-link>
                        </a>
                    </li>
                    <li class="nav-item" v-if="user.role_id != 1">
                        <a class="nav-link" >
                            <router-link to="/transactions/add">Transaction</router-link>
                        </a>
                    </li>
                </ul>
                <div v-if="authenticated && user">
                    <a class="btn" @click="logout" >
                        Logout
                    </a>
                </div>
            </div>
        </nav>

        <router-view></router-view>
    </div>
</template>

<script>
export default {
    data() {
        return {
            authenticated: auth.check(),
            user: auth.user
        };
    },

    methods: {
        logout() {
            api.call('post', '/api/logout')
            .then(()=>{
                
                auth.logout();
                this.$router.push('/login');
            });
        }
    },

    mounted() {
        Event.$on('userLoggedIn', () => {
            this.authenticated = true;
            this.user = auth.user;
        });
        Event.$on('userLogout', () => {
            this.authenticated = false;
            this.user = '';
        });
    },

    
}
</script>