<template>
    <div class="content">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" style="margin-top:10%;">
                <div class="box">
                        <router-link to="/accounts/add" v-if="user.role_id == 1"><button class="btn btn-primary" style="margin-bottom:1%;">Add Account</button></router-link>
                    <div class="box-body">
                        <div class="table-responsive" >
                            <table class="table">
                                <caption>List of Accounts</caption>
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Account Number</th>
                                    <th scope="col">Balance</th>
                                    <th scope="col">Type</th>
                                    <th scope="col" v-if="user.role_id == 1">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="account in accounts" :key="account.id">
                                        <th scope="row">{{ account.id }}</th>
                                        <td>{{ account.customer.user.name }}</td>
                                        <td>{{ account.account_number }}</td>
                                        <td>{{ account.balance }}</td>
                                        <td>{{ account.type }}</td>
                                        <td v-if="user.role_id == 1">
                                            <router-link to="/users/update"><button class="btn btn-warning btn-sm">Edit</button></router-link>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            accounts: [],
            user: auth.user,
        };
    },
    created() {
        this.fetchAccounts()
    },
    computed: {
        getAccounts () {
            return this.accounts
        },
    },

    methods: {
        fetchAccounts() {
            return api.call('get', '/api/accounts')
                .then(({data}) => {
                    this.accounts = data;
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        async fetchDataHandler () {
            this.accounts = await this.fetchAccounts()
        }
    }
}
</script>