<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="card text-center" style="top: 50%; margin-top:10%;">
                    <div class="card-header">
                        <h5 class="card-title">Login</h5>
                    </div>
                    <div class="card-body form-group">
                        <div class="form-group">
                            <input type="text" name="email" v-model="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" v-model="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <button @click="login" class="btn btn-primary" >Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            email: '',
            password: '',
        };
    },

    methods: {
        login() {
            let data = {
                email: this.email,
                password: this.password
            };

            window.axios.post('/api/login', data)
                .then(({data}) => {
                    auth.login(data.token, data.user);
                    this.$router.push('/dashboard');
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        }
    }
}
</script>