<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="card text-center" style="margin-top:10%;">
                    <div class="card-header">
                        <h5 class="card-title">Register</h5>
                    </div>
                    <div class="card-body form-group">
                         <div class="form-group">
                            <input type="text" name="name" v-model="name" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" v-model="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" v-model="phone" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="text" name="address" v-model="address" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="password" name="pin" v-model="pin" class="form-control" placeholder="Pin" aria-label="Pin" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="password" name="pin_conf" v-model="pin_conf" class="form-control" placeholder="Pin Confirmation" aria-label="Pin" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" v-model="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password_conf" v-model="password_conf" class="form-control" placeholder="Password Confirmation" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <button @click="register" class="btn btn-primary" >Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name: '',
            email: '',
            phone: '',
            address: '',
            pin: '',
            pin_conf: '',
            password: '',
            password_conf: '',
        };
    },

    methods: {
        register() {
            let data = {
                name: this.name,
                email: this.email,
                phone: this.phone,
                address: this.address,
                pin: this.pin,
                pin_conf: this.pin_conf,
                password: this.password,
                password_conf: this.password_conf
            };

            axios.post('/api/register', data)
                .then(({data}) => {
                    this.$router.push('/login');
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        }
    }
}
</script>