<template>
    <div class="content">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" style="margin-top:10%;">
                <div class="box">
                        <router-link to="/customers/add"><button class="btn btn-primary" style="margin-bottom:1%;">Add Customer</button></router-link>
                    <div class="box-body">
                        <div class="table-responsive" >
                            <table class="table">
                                <caption>List of Customers</caption>
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="customer in customers" :key="customer.id">
                                        <th scope="row">{{ customer.id }}</th>
                                        <td>{{ customer.user.name }}</td>
                                        <td>{{ customer.user.email }}</td>
                                        <td>{{ customer.phone }}</td>
                                        <td>{{ customer.address }}</td>
                                        <td>
                                            <router-link to="/users/update"><button class="btn btn-warning btn-sm">Edit</button></router-link>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            customers: [],
        };
    },
    created() {
        this.fetchCustomers()
    },
    computed: {
        getCustomers () {
            return this.customers
        },
    },

    methods: {
        fetchCustomers() {
            return api.call('get', '/api/customers')
                .then(({data}) => {
                    this.customers = data;
                })
                .catch(({response}) => {                    
                    alert(response.data.message);
                });
        },
        async fetchDataHandler () {
            this.customers = await this.fetchCustomers()
        }
    }
}
</script>